@model SDT.Web.Models.LoginModelView

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Přihlášení | SDT Admin</title>
    <meta name="author" content="Miloslav Moravec" />
    <meta name="description" content="SDT Admin je webový nástroj pro správu projektů a týmovou spolupráci" />
    <meta name="keywords" content="SDT, Admin, Software, development, tool, Miloslav, Moravec, tým, projekt, správa, spolupráce" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
</head>
<body>
    <div class="container">
        <div class="card card-container">
            <h2 class="text-center">Přihlásit se</h2>
            <img id="profile-img" class="profile-img-card" src="~/images/admin.jpg" />
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin", role = "form", @autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger" role="alert">
                        <strong>@ViewBag.ErrorMessage</strong>
                    </div>
                }

                <div class="form-row">
                    <div class="form-group col-md-12">
                        @Html.TextBoxFor(model => model.Username, new { placeholder = "Uživatelské jméno", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger", @style = "font-size: 0.8rem" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        @Html.PasswordFor(model => model.Password, new { placeholder = "Heslo", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", @style = "font-size: 0.8rem" })
                    </div>

                </div>

                <button class="btn btn-success btn-block" type="submit">Přihlásit se</button>
                <p>Nemáte účet? <a href="@Url.Action("Register")">Zaregistrujte se</a>.</p>

            }
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>